In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv(r"C:\Users\moham\Documents\Projects\my-own-decision-tree\data\iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
def str_to_int(x) -> int:
    if x == "Setosa":
        return 0
    elif x == "Versicolor":
        return 1
    elif x == "Virginica":
        return 2
    
# df = df[df["variety"] == "Setosa"].apply(lambda x:0)
# df = df[df["variety"] == "Versicolor"].apply(lambda x:1)
# df = df[df["variety"] == "Virginica"].apply(lambda x:2)

df = df.rename(columns={"variety" : "labels"})
df["labels"] = df["labels"].apply(str_to_int)
df

     sepal.length  sepal.width  petal.length  petal.width  labels
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [4]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width      labels
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [5]:
def train_test_split(df, test_size):
    
    test_indices = random.sample(population=df.index.tolist(), k=int(test_size*df.shape[0]))
    test_df = df.loc[test_indices]
    train_df = df.drop(test_indices)
    
    return train_df, test_df

train_df, test_df = train_test_split(df, test_size=0.2)
train_df.shape

(120, 5)

In [6]:
data = train_df.values
data[:3]

array([[4.6, 3.1, 1.5, 0.2, 0. ],
       [5. , 3.6, 1.4, 0.2, 0. ],
       [5.4, 3.9, 1.7, 0.4, 0. ]])

In [7]:
def node_is_pure(data):
    if len(np.unique(data[:, -1], return_counts=False)) == 1:
        return True
    else:
        return False

In [8]:
def classify_node(data):
    
    unique, counts = np.unique(data[:,-1], return_counts=True)
    index = counts.argmax()
    node_class = unique[index]
    
    return node_class

In [ ]:
def split(data, column, split_point):

    below = data[:split_point, column]
    above = data[split_point:, column]

    return above, below

In [9]:
def every_possible_splits(data) :

    every_splits = {}
    for column in range(data.shape[1]):
        every_splits[column] = []
        all_values = np.unique(data[:, column])

        for i in range(len(all_values)-1):
            every_splits[column].append((all_values[i] + all_values[i+1]) / 2)

    return every_splits